@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:ital,wght@0,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
* {
  margin: 0rem;
  box-sizing: border-box;
  padding: 0rem;
  font-size: 62.5%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/*
*    @import styles sass
*/
body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 5rem auto 5rem;
  grid-template-rows: 5rem auto 5rem;
  grid-template-areas: "head head head" "left body rigth" "foot foot foot";
}

.header {
  grid-area: head;
}

.network {
  grid-area: left;
}

.body {
  grid-area: body;
}

.cv {
  grid-area: rigth;
}

.foot {
  grid-area: foot;
}

.header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.header .header__logo {
  font-size: 3.2rem;
}
.header .header__menu {
  height: 5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}
.header .header__menu #join, .header .header__menu #join2 {
  width: 3rem;
  height: 2rem;
  position: absolute;
  visibility: hidden;
}
.header .header__menu #join:checked ~ .menu-icon > .icon--close,
.header .header__menu #join2:checked ~ .menu-icon > .icon--close {
  display: none;
}
.header .header__menu #join:checked ~ .menu-icon > .icon--open,
.header .header__menu #join2:checked ~ .menu-icon > .icon--open {
  display: block;
}
.header .header__menu #join:checked ~ .menu-container {
  transform: translateX(0%);
  opacity: 1;
}
.header .header__menu #join:checked ~ .menu-container {
  transform: translateY(0%);
  opacity: 1;
}
.header .header__menu .menu-icon .material-icons {
  font-size: 2.6rem;
  transition: 0.5s;
}
.header .header__menu .menu-icon > .material-icons:hover {
  cursor: pointer;
  color: var(--color-blue);
  font-size: 3.6rem;
}
.header .header__menu .menu-icon .icon--close {
  display: initial;
}
.header .header__menu .menu-icon .icon--open {
  display: none;
}
.header .header__menu .menu-container {
  opacity: 0;
  transition: 3s;
}
.header .header__menu .menu-container .menu-link {
  font-size: 1.6rem;
  transition: 1s;
}
.header .header__menu .menu-container .menu-link:hover {
  font-size: 2.2rem;
  color: var(--color-blue);
}

.header {
  padding: 0rem 5rem;
}
.header .header__menu {
  width: 55rem;
}
.header .header__menu .menu-container {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  transform: translateX(110%);
}
.header .header__menu .menu-container .menu-item {
  width: 13rem;
  display: block;
}

.text-ae {
  font-family: var(--family-kalam);
}

.menu-link {
  font-family: var(--family-Raleway);
}

.network {
  width: 5rem;
  height: 100%;
  position: relative;
  overflow: hidden;
}
@keyframes dirrecion {
  0% {
    top: -200%;
  }
  100% {
    top: 100%;
  }
}
.network .network__carousel {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 200%;
  animation: dirrecion 20s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.network .network__carousel .carousel-slide {
  width: 26rem;
  margin: 12rem;
  transform: rotate(-90deg);
  position: relative;
  text-align: center;
}
.network .network__carousel a {
  font-size: 1.6rem;
  transition: 1s;
}
.network .network__carousel a:hover {
  font-size: 2.2rem;
  color: var(--color-blue);
  font-weight: 600;
}

.carousel-link {
  font-family: var(--family-Raleway);
}
.carousel-link i {
  margin: 0.5rem;
}

.body__home {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/landrescobarl.github.io/img/capa.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
}
.body__home .home__text {
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.body__home .home__text .text-greet {
  text-align: center;
}
.body__home .home__text .text-greet b, .body__home .home__text .text-greet strong {
  font-size: 3.2rem;
  font-family: var(--family-Raleway);
}
.body__home .home__text .text-greet #andres {
  font-size: 3.2rem;
  color: var(--color-blue);
  font-family: var(--family-Raleway);
}
.body__home .home__text .text-profession {
  font-size: 2.2rem;
  font-family: var(--family-Raleway);
  text-align: center;
  margin-top: -10rem;
}
.body__home .home__text .text-slogan {
  font-size: 1.6rem;
  font-family: var(--family-open);
  text-align: center;
  margin-top: -10rem;
}

.home__puzzle {
  width: 50rem;
  height: 50rem;
  position: relative;
  display: flex;
}
.home__puzzle .puzzle-piece {
  display: grid;
  grid-template-columns: repeat(3, 62.5px);
  grid-template-rows: repeat(3, 62.5px);
  position: absolute;
  transition: all 3s;
}
.home__puzzle .puzzle-piece .puzzle-item {
  border: #FFF solid 2px;
  border-radius: 0.3rem;
}
.home__puzzle .puzzle-piece .item-a {
  grid-area: a;
}
.home__puzzle .puzzle-piece .item-b {
  grid-area: b;
}
.home__puzzle .puzzle-piece .item-c {
  grid-area: c;
}
.home__puzzle .puzzle-piece .item-d {
  grid-area: d;
}
.home__puzzle .puzzle-piece .item-e {
  grid-area: e;
}
.home__puzzle .puzzle-piece .item-f {
  grid-area: f;
}
.home__puzzle .piece-6, .home__puzzle .piece-8, .home__puzzle .piece-9, .home__puzzle .piece-13 {
  grid-template-columns: repeat(4, 62.5px);
  grid-template-rows: repeat(4, 62.5px);
}
.home__puzzle .piece-1 .puzzle-item, .home__puzzle .piece-3 .puzzle-item, .home__puzzle .piece-11 .puzzle-item {
  border: var(--color-blue) solid 0.2rem;
}
.home__puzzle .piece-5 .puzzle-item, .home__puzzle .piece-7 .puzzle-item {
  border: var(--color-morado) solid 0.2rem;
}
.home__puzzle .piece-6 .puzzle-item, .home__puzzle .piece-8 .puzzle-item, .home__puzzle .piece-9 .puzzle-item, .home__puzzle .piece-13 .puzzle-item {
  background-color: var(--color-morado);
}
.home__puzzle .piece-2 .puzzle-item, .home__puzzle .piece-4 .puzzle-item, .home__puzzle .piece-10 .puzzle-item, .home__puzzle .piece-12 .puzzle-item {
  background-color: var(--color-blue);
}
.home__puzzle .piece-1 {
  grid-template-areas: "a b c" "d . ." "e . .";
  top: 0rem;
  left: 0rem;
}
.home__puzzle .piece-2 {
  grid-template-areas: ". a ." ". b c" "d e .";
  top: 6.2rem;
  left: 0rem;
}
.home__puzzle .piece-3 {
  grid-template-areas: ". . a" "b c d" "e . .";
  top: 18.8rem;
  left: 0rem;
}
.home__puzzle .piece-4 {
  grid-template-areas: ". a b" "c d ." "e . .";
  top: 31.3rem;
  left: 0rem;
}
.home__puzzle .piece-5 {
  grid-template-areas: ". a ." "b c d" ". e .";
  top: 0rem;
  left: 12.5rem;
}
.home__puzzle .piece-6 {
  grid-template-areas: ". . a ." ". c b ." ". d . ." ". e . .";
  top: 12.5rem;
  left: 12.5rem;
}
.home__puzzle .piece-7 {
  grid-template-areas: ". a ." ". b ." "c d e";
  top: 25rem;
  left: 18.7rem;
}
.home__puzzle .piece-8 {
  grid-template-areas: ". . . ." ". . . ." ". a . ." "b c d e";
  top: 25rem;
  left: 6.2rem;
}
.home__puzzle .piece-9 {
  grid-template-areas: "a b c d" ". . . e" ". . . ." ". . . .";
  top: 0rem;
  left: 25rem;
}
.home__puzzle .piece-10 {
  grid-template-areas: "a b ." "c d e" ". . f";
  top: 6.2rem;
  left: 31.3rem;
}
.home__puzzle .piece-11 {
  grid-template-areas: "a b ." "c d ." ". . .";
  top: 18.8rem;
  left: 31.2rem;
}
.home__puzzle .piece-12 {
  grid-template-areas: "a b ." ". c ." "d e .";
  top: 31.3rem;
  left: 31.2rem;
}
.home__puzzle .piece-13 {
  grid-template-areas: ". . . a" ". . . b" ". . . c" ". . . d";
  top: 25rem;
  left: 25rem;
}
.home__puzzle #puzzle-buttom {
  width: 4rem;
  height: 4rem;
  position: absolute;
  opacity: 0;
  z-index: 2;
  top: 45%;
  left: 45%;
}
.home__puzzle #puzzle-buttom:checked {
  transform: translateY(-450%);
}
.home__puzzle #puzzle-buttom:checked ~ .puzzle-icons {
  transform: translateY(-450%);
}
.home__puzzle #puzzle-buttom:checked ~ .puzzle-icons > .icons--close {
  display: block;
}
.home__puzzle #puzzle-buttom:checked ~ .puzzle-icons > .icons--open {
  display: none;
}
.home__puzzle #puzzle-buttom:checked ~ .piece-1 {
  top: -15%;
  left: -20%;
  transform: rotate(-45deg);
}
.home__puzzle #puzzle-buttom:checked ~ .piece-2 {
  top: 20%;
  left: -50%;
  transform: rotate(45deg);
}
.home__puzzle #puzzle-buttom:checked ~ .piece-3 {
  top: 40%;
  left: -30%;
  transform: rotate(-30deg);
}
.home__puzzle #puzzle-buttom:checked ~ .piece-4 {
  top: 80%;
  left: -30%;
  transform: rotate(30deg);
}
.home__puzzle #puzzle-buttom:checked ~ .piece-5 {
  top: -35%;
  left: 10%;
  transform: rotate(-30deg);
}
.home__puzzle #puzzle-buttom:checked ~ .piece-6 {
  opacity: 0;
  transform: rotate(-90deg);
}
.home__puzzle #puzzle-buttom:checked ~ .piece-7 {
  top: 90%;
  left: 30%;
  transform: rotate(-150deg);
}
.home__puzzle #puzzle-buttom:checked ~ .piece-8 {
  top: 100%;
  left: 5%;
  transform: rotate(130deg);
}
.home__puzzle #puzzle-buttom:checked ~ .piece-9 {
  top: -20%;
  left: 60%;
  transform: rotate(-20deg);
}
.home__puzzle #puzzle-buttom:checked ~ .piece-10 {
  top: 10%;
  left: 90%;
  transform: rotate(45deg);
}
.home__puzzle #puzzle-buttom:checked ~ .piece-11 {
  opacity: 0;
  transform: rotate(-90deg);
}
.home__puzzle #puzzle-buttom:checked ~ .piece-12 {
  top: 90%;
  left: 80%;
  transform: rotate(-10deg);
}
.home__puzzle #puzzle-buttom:checked ~ .piece-13 {
  top: 70%;
  left: 70%;
  transform: rotate(-20deg);
}
.home__puzzle #puzzle-buttom:hover ~ .puzzle-icons > .material-icons {
  transform: scale(1.5, 1.5);
  background-color: var(--color-blue);
  border: var(--color-blue) solid 0.1rem;
  padding: 0rem 0.6rem;
  box-shadow: 2px 2px 5px var(--color-blue);
}
.home__puzzle .puzzle-icons {
  position: absolute;
  transition: all 2s;
  z-index: 1;
  top: 45%;
  left: 45%;
}
.home__puzzle .puzzle-icons .material-icons {
  font-size: 4.2rem;
  color: #323232;
  transition: all 1s;
  border-radius: 0.5rem;
}
.home__puzzle .puzzle-icons .icons--close {
  display: none;
  color: #a1a1a1;
}
.home__puzzle .puzzle-icons .icons--open {
  display: block;
}

@keyframes cambio {
  0% {
    font-size: 4rem;
  }
  100% {
    font-size: 4.8rem;
  }
}
.body__aboutme {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #fff;
  margin: 20rem 0rem;
}
.body__aboutme .aboutme-puzzle {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body__aboutme .aboutme-puzzle .puzzle-action {
  position: absolute;
  bottom: 5%;
  right: -30%;
  transform: rotate(-30deg);
  animation: cambio 0.6s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  font-size: 4rem;
}
.body__aboutme .aboutme-puzzle .puzzle-button {
  padding: 0.5rem 0.5rem;
  position: absolute;
  z-index: 1;
  background-color: var(--color-blue);
  border-radius: 50%;
  border: var(--color-blue2) solid 0.5px;
  box-shadow: 0.5px 10px 0.5px 0px var(--color-blue2);
  transition: 1s;
  bottom: 15%;
  right: -25%;
}
.body__aboutme .aboutme-puzzle .puzzle-button .material-icons {
  font-size: 5rem;
  display: block;
}
.body__aboutme .aboutme-puzzle #button {
  width: 5rem;
  height: 5rem;
  position: absolute;
  z-index: 2;
  opacity: 0;
}
.body__aboutme .aboutme-puzzle #button:checked ~ .puzzle-button {
  transform: translateY(25%);
  box-shadow: 0px 1px 0px 0px var(--color-blue2);
  color: #fff;
}
.body__aboutme .aboutme-puzzle #button:checked ~ .puzzle-circle {
  transform: rotate(0deg);
}
.body__aboutme .aboutme-puzzle .puzzle-circle {
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
  transition: 3s;
  border: rgba(0, 0, 0, 0.001) solid 0.01px;
}
.body__aboutme .aboutme-puzzle .puzzle-circle .puzzle-imgback {
  width: 80rem;
  height: 80rem;
  position: absolute;
  background-image: url("/landrescobarl.github.io/img/aboutme-img2.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  opacity: 0.5;
}
.body__aboutme .aboutme-puzzle .puzzle-circle .puzzle-contents {
  width: 72rem;
  height: 100%;
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body__aboutme .aboutme-puzzle .puzzle-circle .puzzle-contents .puzzle-title {
  font-size: 2.2rem;
  font-family: var(--family-Raleway);
  display: block;
  position: relative;
  top: -15%;
}
.body__aboutme .aboutme-puzzle .puzzle-circle .puzzle-contents .puzzle-name {
  font-size: 3.2rem;
  font-family: var(--family-Raleway);
  display: block;
  position: relative;
  top: -10%;
}
.body__aboutme .aboutme-puzzle .puzzle-circle .puzzle-contents .puzzle-text {
  font-size: 1.6rem;
  font-family: var(--family-open);
  display: block;
  position: relative;
}
.body__aboutme .aboutme-puzzle .puzzle-circle .puzzle-contents .text-2 {
  margin-top: 2rem;
}
.body__aboutme .aboutme-puzzle .puzzle-circle .puzzle-contents a {
  font-size: 1.8rem;
  font-family: var(--family-Raleway);
  padding: 1rem 1rem;
  color: #fff;
  display: block;
  width: 20rem;
  position: relative;
  border-radius: 5px;
}
.body__aboutme .aboutme-puzzle .puzzle-circle .puzzle-contents .puzzle-dev {
  background-color: var(--color-blue);
  left: 15rem;
}
.body__aboutme .aboutme-puzzle .puzzle-circle .puzzle-contents .puzzle-tec {
  background-color: var(--color-morado);
  left: -15rem;
  top: 4rem;
}
.body__aboutme .aboutme-puzzle .circle-1 {
  width: 80rem;
  height: 80rem;
  transform: rotate(145deg);
}
.body__aboutme .aboutme-puzzle .puzzle-back {
  width: 60rem;
  height: 60rem;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
}
.body__aboutme .aboutme-puzzle .circle-2 {
  width: 60rem;
  height: 60rem;
  transform: rotate(-150deg);
}
.body__aboutme .aboutme-puzzle .circle-2 .puzzle-imgback {
  top: -10rem;
  left: -10rem;
}
.body__aboutme .aboutme-puzzle .puzzle-back2 {
  width: 40rem;
  height: 40rem;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
}
.body__aboutme .aboutme-puzzle .circle-3 {
  width: 40rem;
  height: 40rem;
  transform: rotate(145deg);
}
.body__aboutme .aboutme-puzzle .circle-3 .puzzle-imgback {
  top: -20rem;
  left: -20rem;
}
.body__aboutme .aboutme-puzzle .circle-3 .puzzle-contents .puzzle-title {
  top: -15rem;
}
.body__aboutme .aboutme-puzzle .circle-3 .puzzle-contents .puzzle-name {
  top: -6rem;
}

.body__devweb {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  background-color: white;
  margin-top: 10rem;
}
.body__devweb .devweb-conteiner {
  width: 100%;
  height: 100%;
}
.body__devweb .devweb-conteiner .devweb-contents {
  width: 45%;
  position: absolute;
  top: 5%;
  left: 5%;
}
.body__devweb .devweb-conteiner .devweb-contents .devweb-title {
  font-size: 2.2rem;
  font-family: var(--family-Raleway);
  margin-bottom: 1rem;
}
.body__devweb .devweb-conteiner .devweb-contents .devweb-subtitle {
  font-size: 1.8rem;
  font-family: var(--family-Raleway);
  margin-bottom: 3rem;
}
.body__devweb .devweb-conteiner .devweb-contents .devweb-text {
  font-size: 1.6rem;
  font-family: var(--family-open);
  margin-bottom: 1rem;
}
.body__devweb .devweb-conteiner .devweb-contents .devweb-skills .devweb-subtitle {
  margin-bottom: 1rem;
}
.body__devweb .devweb-conteiner .devweb-contents .devweb-skills .devweb-skill {
  font-size: 1.6rem;
  font-family: var(--family-open);
  margin-left: 4rem;
}
.body__devweb .devweb-conteiner .devweb-medals {
  width: 100rem;
  height: 85rem;
  float: right;
  background-image: url(/landrescobarl.github.io/img/back-dev.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 110%;
  position: absolute;
  right: 0rem;
  top: 0rem;
  bottom: 0rem;
}
.body__devweb .devweb-conteiner .devweb-medals .devweb-imgs {
  width: 85rem;
  height: 85rem;
  position: absolute;
  display: grid;
  right: 0rem;
}
.body__devweb .devweb-conteiner .devweb-medals .devweb-imgs .devweb-img {
  position: absolute;
}
.body__devweb .devweb-conteiner .devweb-medals .devweb-imgs :first-child {
  bottom: 17.5rem;
  left: -1rem;
  width: 12%;
}
.body__devweb .devweb-conteiner .devweb-medals .devweb-imgs :nth-child(2) {
  bottom: 17.5rem;
  left: 10rem;
  width: 12%;
}
.body__devweb .devweb-conteiner .devweb-medals .devweb-imgs :nth-child(3) {
  bottom: 22rem;
  left: 25rem;
}
.body__devweb .devweb-conteiner .devweb-medals .devweb-imgs :nth-child(4) {
  bottom: 29.5rem;
  left: 11.5rem;
}
.body__devweb .devweb-conteiner .devweb-medals .devweb-imgs :nth-child(5) {
  bottom: 37rem;
  right: 40.5rem;
}
.body__devweb .devweb-conteiner .devweb-medals .devweb-imgs :nth-child(6) {
  top: 32.5rem;
  right: 26rem;
  width: 12%;
}
.body__devweb .devweb-conteiner .devweb-medals .devweb-imgs :nth-child(7) {
  top: 32.5rem;
  right: 15rem;
  width: 12%;
}
.body__devweb .devweb-conteiner .devweb-medals .devweb-imgs :last-child {
  bottom: 22rem;
  left: 39rem;
}

.body__tecsis {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
  background-color: white;
  margin-top: 10rem;
}
.body__tecsis .tecsis-conteiner {
  width: 100%;
  height: 100%;
}
.body__tecsis .tecsis-conteiner .tecsis-contents {
  width: 45%;
  position: absolute;
  top: 5%;
  right: 5%;
  text-align: right;
}
.body__tecsis .tecsis-conteiner .tecsis-contents .tecsis-title {
  font-size: 2.2rem;
  font-family: var(--family-Raleway);
  margin-bottom: 1rem;
}
.body__tecsis .tecsis-conteiner .tecsis-contents .tecsis-subtitle {
  font-size: 1.8rem;
  font-family: var(--family-Raleway);
  margin-bottom: 3rem;
}
.body__tecsis .tecsis-conteiner .tecsis-contents .tecsis-text {
  font-size: 1.6rem;
  font-family: var(--family-open);
  margin-bottom: 1rem;
}
.body__tecsis .tecsis-conteiner .tecsis-contents .tecsis-skills .tecsis-subtitle {
  margin-bottom: 1rem;
}
.body__tecsis .tecsis-conteiner .tecsis-contents .tecsis-skills .tecsis-skill {
  font-size: 1.6rem;
  font-family: var(--family-open);
  margin-right: 4rem;
}
.body__tecsis .tecsis-conteiner .tecsis-medals {
  width: 100rem;
  height: 85rem;
  float: right;
  background-image: url(/landrescobarl.github.io/img/back-tec.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 110%;
  position: absolute;
  left: 0rem;
  top: 0rem;
  bottom: 0rem;
}
.body__tecsis .tecsis-conteiner .tecsis-medals .tecsis-imgs {
  width: 85rem;
  height: 85rem;
  position: absolute;
  display: grid;
  right: 0rem;
}
.body__tecsis .tecsis-conteiner .tecsis-medals .tecsis-imgs .tecsis-img {
  position: absolute;
}
.body__tecsis .tecsis-conteiner .tecsis-medals .tecsis-imgs :first-child {
  bottom: 3rem;
  left: 5rem;
}
.body__tecsis .tecsis-conteiner .tecsis-medals .tecsis-imgs :nth-child(2) {
  top: 18rem;
  left: 15rem;
}
.body__tecsis .tecsis-conteiner .tecsis-medals .tecsis-imgs :nth-child(3) {
  bottom: 22rem;
  left: 33rem;
}
.body__tecsis .tecsis-conteiner .tecsis-medals .tecsis-imgs :nth-child(4) {
  bottom: 22rem;
  left: 19rem;
}
.body__tecsis .tecsis-conteiner .tecsis-medals .tecsis-imgs :last-child {
  top: 33.5rem;
  left: 25.5rem;
}

.body__contact {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.body__contact .contact-conteiner {
  width: 100rem;
  height: 45rem;
  box-shadow: 5px 5px 3px 1px #ccc;
}
.body__contact .contact-conteiner .contact-left {
  width: 39.5rem;
  height: 45rem;
  background-image: url(/landrescobarl.github.io/img/back_contac.png);
  text-align: center;
  padding: 10rem 2rem;
  float: left;
}
.body__contact .contact-conteiner .contact-left .andres {
  font-size: 3.2rem;
  letter-spacing: 0.3rem;
  color: #fff;
}
.body__contact .contact-conteiner .contact-left .andres strong {
  font-family: var(--family-Raleway);
  font-weight: 400;
}
.body__contact .contact-conteiner .contact-left .contact-logo {
  font-size: 3.2rem;
  font-family: var(--family-kalam);
  color: #fff;
  margin-bottom: 5rem;
}
.body__contact .contact-conteiner .contact-left .left-data .left-item {
  margin: 2rem 1rem;
}
.body__contact .contact-conteiner .contact-left .left-data .left-item p {
  font-size: 1.4rem;
  font-family: var(--family-open);
  color: #fff;
}
.body__contact .contact-conteiner .contact-right {
  width: 60rem;
  height: 45rem;
  float: right;
}
.body__contact .contact-conteiner .contact-right .contact-form {
  width: 100%;
  height: 100%;
  position: relative;
}
.body__contact .contact-conteiner .contact-right .contact-form .form-title {
  font-size: 2.2rem;
  font-weight: normal;
  font-family: var(--family-Raleway);
  color: var(--color-black);
}
.body__contact .contact-conteiner .contact-right .contact-form p {
  color: #ccc;
  margin: 5rem 0rem 5rem 4rem;
}
.body__contact .contact-conteiner .contact-right .contact-form label {
  width: 45rem;
  border-bottom: 1px solid #ccc;
  padding: 1px;
  font-family: var(--family-open);
  font-size: 1.6rem;
}
.body__contact .contact-conteiner .contact-right .contact-form input {
  all: unset;
  border: none;
  width: 35rem;
  height: 2rem;
  font-size: 1.6rem;
  color: var(--color-black);
  font-family: var(--family-open);
}
.body__contact .contact-conteiner .contact-right .contact-form textarea {
  all: unset;
  border: none;
  width: 35rem;
  color: var(--color-black);
  font-family: var(--family-open);
  font-size: 1.6rem;
}
.body__contact .contact-conteiner .contact-right .contact-form span {
  font-family: var(--family-open);
  font-size: 1.6rem;
  position: relative;
  bottom: 4rem;
}
.body__contact .contact-conteiner .contact-right .contact-form button {
  font-size: 1.8rem;
  font-family: var(--family-Raleway);
  padding: 0.5rem 4rem;
  border-radius: 5rem;
  color: var(--color-blue);
  border: solid 2px;
  background-color: #fff;
  float: left;
  margin: 5rem 0rem;
}
.body__contact .contact-conteiner .contact-right .contact-form button:active {
  background-color: var(--color-blue);
  font-size: 1.6rem;
}
.body__contact .contact-conteiner .contact-right .contact-form button:hover {
  font-size: 2rem;
}
.body__contact .contact-conteiner .contact-right .contact-form .contac-nav {
  position: absolute;
  width: 30rem;
  bottom: 4rem;
  left: 20rem;
}
.body__contact .contact-conteiner .contact-right .contact-form .contac-menu {
  display: flex;
  justify-content: space-around;
}
.body__contact .contact-conteiner .contact-right .contact-form .contac-item {
  list-style: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}
.body__contact .contact-conteiner .contact-right .contact-form .contac-item:hover {
  background-color: var(--color-blue);
  color: #fff;
}
.body__contact .contact-conteiner .contact-right .contact-form .fa {
  font-size: 2.2rem;
  color: var(--color-black);
}
.body__contact .contact-conteiner .contact-right .contact-form .fa:hover {
  color: #fff;
}

.body {
  position: relative;
  overflow: hidden;
}

.cv {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 5rem;
}
.cv .cv__conteiner .cv-link {
  font-size: 1.6rem;
  display: block;
  transform: rotate(-90deg);
  font-family: var(--family-Raleway);
  transition: 1s;
}
.cv .cv__conteiner .cv-link:hover, .cv .cv__conteiner .material-icons:hover {
  font-size: 2.2rem;
  color: var(--color-blue);
  font-weight: bolder;
}
.cv .cv__conteiner:hover {
  color: var(--color-blue);
}

.foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 5rem;
}
.foot .foot__firma {
  width: 11.1rem;
  height: 4rem;
  background-image: url("/landrescobarl.github.io/img/firma.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.foot .foot__copy {
  font-size: 2rem;
  font-family: var(--family-Raleway);
  margin-left: 20rem;
}
.foot .foot__redes {
  width: 30rem;
}
.foot .foot__redes .foot-menu {
  display: flex;
  justify-content: flex-end;
}
.foot .foot__redes .foot-menu .foot-item {
  margin: 1rem 2rem;
}
.foot .foot__redes .foot-menu .foot-item .foot-link {
  display: block;
  font-size: 1.8rem;
  padding: 0.1rem 0.2rem;
  border-radius: 3px;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
}
.foot .foot__redes .foot-menu .foot-item .foot-link:hover {
  color: #fff;
  background-color: var(--color-blue);
  box-shadow: 2px 2px 5px var(--color-blue);
  border: var(--color-blue) solid 1px;
}
.foot .foot__redes .foot-menu li:nth-child(2) .foot-link {
  padding: 0.1rem 0.5rem;
}

/*
*   @media Queries
*/
@media only screen and (min-width: 319px) and (max-width: 425px) {
  .header {
    padding: 0rem 2rem;
  }
  .header .header__menu {
    width: 3rem;
  }
  .header .header__menu .menu-container {
    width: 40%;
    height: 12rem;
    display: block;
    position: absolute;
    right: 5rem;
    top: 5rem;
    opacity: 0;
    transform: translateY(-150%);
    transition: 3s;
  }
  .header .header__menu .menu-container .menu-item {
    width: 100%;
    height: 3rem;
    display: block;
    text-align: right;
  }
}
@media only screen and (min-width: 425px) and (max-width: 768px) {
  .header {
    padding: 0rem 2rem;
  }
  .header .header__menu {
    width: 3rem;
  }
  .header .header__menu .menu-container {
    width: 40%;
    height: 12rem;
    display: block;
    position: absolute;
    right: 5rem;
    top: 5rem;
    opacity: 0;
    transform: translateY(-150%);
    transition: 3s;
  }
  .header .header__menu .menu-container .menu-item {
    width: 100%;
    height: 3rem;
    display: block;
    text-align: right;
  }
}
/*
*   @import fonts title--'Raleway', sans-serif; text-->'Open Sans', sans-serif; 
*/
:root {
  --color-blue: #069FFA;
  --color-blue2: #1575AD;
  --color-yello: #FAF51E;
  --color-black: #323232;
  --color-morado: #AB0AAD;
  --family-open: "Open Sans", sans-serif;
  --family-Raleway: "Raleway", sans-serif;
  --family-kalam: "Kalam", cursive;
}

.mantenimiento {
  width: 100%;
  height: 100%;
  top: 0rem;
  left: 0rem;
  background-image: url(/img/20945893.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/*# sourceMappingURL=style.css.map */
