*
{
    margin: 0rem;
    box-sizing: border-box;
    padding: 0rem;
    font-size: 62.5%;
}

li
{
    list-style: none;
}

a
{
    text-decoration: none;
    color: black;
}


/*
*    @import styles sass
*/

@import "structure/structura.scss";
@import "head/head";
@import "network/network";
@import "main/main";
@import "cv/cv.scss";
@import "foot/foot.scss";


/*
*   @media Queries
*/

// mobil-a
@media only screen and (min-width: 319px) and (max-width: 425px) 
{
    @import "head/menu2";
}

// movil-b
@media only screen and (min-width: 425px) and (max-width: 768px) 
{
    @import "head/menu2";
}

// movil/table
@media only screen and (min-width: 768px) and (max-width: 1024px) 
{

}

// table/laptop
@media only screen and (min-width: 1024px) and (max-width: 1366px) 
{
    
}

// laptop/desktop
@media only screen and (min-width: 1440px)
{

}

/*
*   @import fonts title--'Raleway', sans-serif; text-->'Open Sans', sans-serif; 
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:ital,wght@0,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

:root {
    --color-blue:  #069FFA;
    --color-blue2: #1575AD;
    --color-yello: #FAF51E;
    --color-black: #323232;
    --color-morado: #AB0AAD;
    --family-open: 'Open Sans', sans-serif; 
    --family-Raleway: 'Raleway', sans-serif;
    --family-kalam: 'Kalam', cursive;
  }
  
  .mantenimiento
  {
      width: 100%;
      height: 100%;
      top: 0rem;
      left: 0rem;
      background-image: url(/img/20945893.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
  }