*
{
    margin: 0rem;
    box-sizing: border-box;
    padding: 0rem;
    font-size: 65.2%;
}

li
{
    list-style: none;
}

a
{
    text-decoration: none;
    color: black;
}


/*
*    @import styles sass
*/

@import "structure/structura.scss";
@import "head/menu";
@import "head/menu1";



/*
*   @media Queries
*/

// mobil-a
@media only screen and (min-width: 320px) and (max-width: 425px) 
{
    @import "structure/screen-320";
    @import "head/menu2";
}

// movil-b
@media only screen and (min-width: 425px) and (max-width: 768px) 
{
    @import "head/menu2";
}

// movil/table
@media only screen and (min-width: 768px) and (max-width: 1024px) 
{

}

// table/laptop
@media only screen and (min-width: 1024px) and (max-width: 1366px) 
{
    
}

// laptop/desktop
@media only screen and (min-width: 1440px)
{
    @import "structure/screen-1440";
}

/*
*   @import fonts title--'Raleway', sans-serif; text-->'Open Sans', sans-serif; 
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:ital,wght@0,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
