
.home__puzzle 
{
    width: 20rem;
    height: 20rem;

    .puzzle-piece
    {
        grid-template-columns: repeat(3, 25px);
        grid-template-rows: repeat(3, 25px);
    }

    .piece-6, .piece-8, .piece-9, .piece-13
    {
        grid-template-columns: repeat(4, 25px);
        grid-template-rows: repeat(4, 25px);
    }

    .piece-1
    {
        top: 0rem;
        left: 0rem;
    }

    .piece-2
    {
        top: 2.5rem;
        left: 0rem;
    }

    .piece-3
    {
        top: 7.5rem;
        left: 0rem;
    }

    .piece-4
    {
        top: 12.5rem;
        left: 0rem;
    }

    .piece-5
    {
        top: 0rem;
        left: 5rem;
    }

    .piece-6
    {
        top: 5rem;
        left: 5rem;
    }

    .piece-7
    {
        top: 10rem;
        left: 7.5rem;
    }

    .piece-8
    {
        top: 10rem;
        left: 2.5rem;
    }

    .piece-9
    {
        top: 0rem;
        left: 10rem;
    }

    .piece-10
    {
        top: 2.5rem;
        left: 12.5rem;
    }

    .piece-11
    {
        top: 7.5rem;
        left: 12.5rem;
    }

    .piece-12
    {
        top: 12.5rem;
        left: 12.5rem;
    }

    .piece-13
    {
        top: 10rem;
        left: 10rem;
    }

    #puzzle-buttom:checked ~ .piece-1
    {
        top: -25%;
        left: -20%;
        transform: rotate(-45deg);
    }

    #puzzle-buttom:checked ~ .piece-2
    {
        top: 20%;
        left: -50%;
        transform: rotate(45deg);
    }

    #puzzle-buttom:checked ~ .piece-3
    {
        top: 40%;
        left: -35%;
        transform: rotate(-30deg);
    }

    #puzzle-buttom:checked ~ .piece-4
    {
        top: 90%;
        left: -30%;
        transform: rotate(-30deg);
    }

    #puzzle-buttom:checked ~ .piece-5
    {
        top: -60%;
        left: 10%;
        transform: rotate(-30deg);
    }

    #puzzle-buttom:checked ~ .piece-6
    {
        opacity: 0;
        transform: rotate(-90deg);
    }

    #puzzle-buttom:checked ~ .piece-7
    {
        top: 135%;
        left: 30%;
        transform: rotate(-150deg);
    }

    #puzzle-buttom:checked ~ .piece-8
    {
        top: 135%;
        left: 0%;
        transform: rotate(130deg);
    }

    #puzzle-buttom:checked ~ .piece-9
    {
        top: -50%;
        left: 75%;
        transform: rotate(-20deg);
    }

    #puzzle-buttom:checked ~ .piece-10
    {
        top: 10%;
        left: 100%;
        transform: rotate(45deg);
    }

    #puzzle-buttom:checked ~ .piece-11
    {
        opacity: 0;
        transform: rotate(-90deg);
    }

    #puzzle-buttom:checked ~ .piece-12
    {
        top: 130%;
        left: 80%;
        transform: rotate(-10deg);
    }

    #puzzle-buttom:checked ~ .piece-13
    {
        top: 70%;
        left: 70%;
        transform: rotate(-20deg);
    }

}

