.body__home
{
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .home__text
    {
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .text-greet
        {
            text-align: center;

            b, strong
            {
                font-size: 3.2rem;
                font-family:  var(--family-Raleway);
            }

            #andres
            {
                font-size: 3.2rem;
                color: var(--color-blue);
                font-family:  var(--family-Raleway);
            }
        }
    
        .text-profession
        {
            font-size: 2.2rem;
            font-family:  var(--family-Raleway);
            text-align: center;
            margin-top: -10rem;
        }

        .text-slogan
        {
            font-size: 1.6rem;
            font-family: var(--family-open);
            text-align: center;
            margin-top: -10rem;
        }
    }
}

