
#puzzle-buttom:checked ~ .home__text
{
     visibility: inherit;
}

.home__text
    
{
    display: block;
    width: 250px;
    z-index: -1;
    visibility: hidden;

    .text-greet
    {
        position: relative;
        top: -7rem;
    }

    .text-profession
    {
        position: relative;
        top: 1rem;
    }
    .text-slogan
    {
        position: relative;
        top: 9rem;
    }
}

.body__home .home__text .text-greet b,
.body__home .home__text .text-greet strong,
.body__home .home__text .text-greet strong #andres {
    font-size: 2.2rem;
}

.body__home .home__text .text-profession {
    font-size: 1.8rem;
}

.body__home .home__text .text-slogan {
    font-size: 1.4rem;
}