#join, #join2
{
    width: 3rem;
    height: 2rem;
    position: absolute;
    visibility: hidden;
}

#join:checked ~ .menu-icon>.icon--close,
#join2:checked ~ .menu-icon>.icon--close
{
    display: none;
} 

#join:checked ~ .menu-icon>.icon--open,
#join2:checked ~ .menu-icon>.icon--open
{
    display: block;
} 

#join:checked ~ .menu-container
{
    transform: translateX(0%);
    opacity: 1;
}

#join:checked ~ .menu-container
{
    transform: translateY(0%);
    opacity: 1;
}