:root
{
    --color-blue:  #069FFA;
    --color-yello: #FAF51E;
}

.puzzle 
{
    position: relative;
    border: blue solid 1px;

    .puzzle-piece
    {
        display: grid;
        grid-template-columns: repeat(3, 5rem);
        grid-template-rows: repeat(3, 5rem);
        position: absolute;

        .puzzle-item
        {
            border: #FFF solid 0.5px;
            border-radius: 0.3rem;
        }

        .item-a
        {
            grid-area: a;
        }
    
        .item-b
        {
            grid-area: b;
        }
    
        .item-c
        {
            grid-area: c;
        }

        .item-d
        {
            grid-area: d;
        }

        .item-e
        {
            grid-area: e;
        }

        .item-f
        {
            grid-area: f;
        }


    }

    .piece-6, .piece-8, .piece-9, .piece-13
    {
        width: 5*4rem;
        height: 5*4rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .piece-1, .piece-3, .piece-11
    {
        .puzzle-item
        {
            border: var(--color-blue) solid 0.1rem;
        }
        
    }

    .piece-5, .piece-7
    {
        .puzzle-item
        {
            border: var(--color-yello) solid 0.1rem;
        }
    }

    .piece-6, .piece-8, .piece-9, .piece-13
    {
        .puzzle-item
        {
            background-color: var(--color-yello);
        }
    }

    .piece-2, .piece-4, .piece-10, .piece-12
    {
        .puzzle-item
        {
            background-color: var(--color-blue);
        }
    }


    .piece-1
    {
        grid-template-areas: 
        "a b c"
        "d . ."
        ". . .";
        top: 0rem;
        left: 0rem;
    }

    .piece-2
    {
        grid-template-areas: 
        ". a ."
        ". b c"
        "d e .";
        top: 5rem;
        left: 0rem;
    }

    .piece-3
    {
        grid-template-areas: 
        ". . a"
        "b c d"
        "e . .";
        top: 15rem;
        left: 0rem;
    }

    .piece-4
    {
        grid-template-areas: 
        ". a b"
        "c d ."
        "e . .";
        top: 25rem;
        left: 0rem;
    }

    .piece-5
    {
        grid-template-areas: 
        ". a ."
        "b c d"
        ". e .";
        top: 0rem;
        left: 10rem;
    }

    .piece-6
    {
        grid-template-areas: 
        ". . a ."
        ". c b ."
        ". d . ."
        ". e . .";
        top: 10rem;
        left: 10rem;
    }

    .piece-7
    {
        grid-template-areas: 
        ". a ."
        ". b ."
        "c d e";
        top: 20rem;
        left: 15rem;
    }

    .piece-8
    {
        grid-template-areas: 
        ". . . ."
        ". . . ."
        ". a . ."
        "b c d e";
        top: 20rem;
        left: 5rem;
    }

    .piece-9
    {
        grid-template-areas: 
        "a b c d"
        ". . . e"
        ". . . ."
        ". . . .";
        top: 0rem;
        left: 20rem;
        
    }

    .piece-10
    {
        grid-template-areas: 
        "a b ."
        "c d e"
        ". . f";
        top: 5rem;
        left: 25rem;
    }

    .piece-11
    {
        grid-template-areas: 
        "a b ."
        "c d ."
        ". . .";
        top: 15rem;
        left: 25rem;
    }

    .piece-12
    {
        grid-template-areas: 
        "a b ."
        ". c ."
        "d e .";
        top: 25rem;
        left: 25rem;
    }

    .piece-13
    {
        grid-template-areas: 
        ". . . a"
        ". . . b"
        ". . . c"
        ". . . d";
        top: 20rem;
        left: 20rem;
    }

}

